@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

#filter-button-mobile-container {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 700;
    /* font-size: 1.4rem; */
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    text-align: center;
    margin: 0 1rem;
    /* flex-grow: 1; */
    /* background-color: #fff;
    color: #421268;
    border: 0.2rem solid #fff; */
}

.normal {
    background-color: #fff;
    color: #421268;
    border: 0.2rem solid #fff;
}

.active {
    border: 2px solid #421268;
    background-color: #421268;
    color: #fff;
}

#filter-button-mobile-container:hover {
    border: 2px solid #421268;
    background-color: #421268;
    color: #fff;
    /* transform: scale(1.04); */
    cursor: pointer;
}