#filter-container {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    flex-wrap: wrap;
}

#filter-container .clear-button {
    background: none;
    border: none;
    cursor: pointer;
}

