#table-container {
    margin-top: 3rem;
}

#table-container .days {
    display: grid;
    grid-template-columns: 65px 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-auto-flow: column;
}

#table-container .hours #hour-container:nth-child(odd) {
    background-color: #eee;
}
