#table-container {
    margin-top: 3rem;
}

#table-container .days {
    display: grid;
    grid-template-columns: 65px 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-auto-flow: column;
}

#table-container .hours #hour-container:nth-child(odd) {
    background-color: #eee;
}

#table-container .hours-mobile #hour-mobile-container:nth-child(odd) {
    background-color: #eee;
}

@media (max-width: 485px) {
    #table-container .days {
        display: none;
    }
    #table-container .hours {
        display: none;
    }
}

@media (min-width: 486px) {
    #table-container .hours-mobile {
        display: none;
    }
}
